<div itemscope itemtype="https://schema.org/Question">
  <h3 itemprop="name" class="Lineage__FAQ__Heading">{{ faq_heading }}</h3>
  <p itemprop="acceptedAnswer" class="Lineage__FAQ__Body" role="region">{{ faq_body }}</p>
</div>
