<section class="Lineage__Locations bcow">
  <h1 class="Lineage__Locations__Heading">Locations</h1>
  <div class="Lineage__Locations__List">
    <div class="Lineage__Locations__Store" itemscope itemtype="https://schema.org/LocalBusiness">
      <h2 class="Lineage__Locations__Store__Name">East End Market</h2>
      <meta itemprop="address" content="3201 Corrine Dr, Orlando, FL" />
      <meta itemprop="brand" content="{{ shop.name }}" />
      <meta itemprop="openingHours" content="8a–7p" />
      <a class="Lineage__Locations__Store__Address" href="https://www.google.com/maps/search/?api=1&query=3201%20Corrine%20Dr,+Orlando+FL" target="_blank" rel="noopener noreferrer">3201 Corrine Dr</a>
      <p id="loc-eastend" class="Lineage__Locations__Store__Open" data-open>Open</p>
      <dl class="Lineage__Locations__Store__Times" itemprop="openingHours">
        <dt class="Lineage__Locations__Store__Days" data-current-day>Every Day</dt>
        <dd class="Lineage__Locations__Store__Hours" data-current-day>8a – 7p</dd>
      </dl>
    </div>

    <div class="Lineage__Locations__Store" itemscope itemtype="https://schema.org/LocalBusiness">
      <h2 class="Lineage__Locations__Store__Name">Mills/50</h2>
      <meta itemprop="address" content="1011 E Colonial Dr, Orlando, FL" />
      <meta itemprop="brand" content="{{ store.title }}" />
      <meta itemprop="openingHours" content="7a–7p" />
      <a class="Lineage__Locations__Store__Address" href="https://www.google.com/maps/search/?api=1&query=1011%20E%20Colonial%20Dr,+Orlando+FL" target="_blank" rel="noopener noreferrer">1011 E. Colonial Dr</a>
      <p id="loc-mills50" class="Lineage__Locations__Store__Open" data-open>Open</p>
      <dl class="Lineage__Locations__Store__Times" itemprop="openingHours">
        <dt class="Lineage__Locations__Store__Days" data-current-day>Every Day</dt>
        <dd class="Lineage__Locations__Store__Hours" data-current-day>7a – 7p</dd>
      </dl>
    </div>

    <div class="Lineage__Locations__Store" itemscope itemtype="https://schema.org/LocalBusiness">
      <h2 class="Lineage__Locations__Store__Name">UCF</h2>
      <meta itemprop="address" content="11556 University Blvd, Orlando, FL" />
      <meta itemprop="brand" content="{{ store.title }}" />
      <meta itemprop="openingHours" content="8a–7p" />
      <a class="Lineage__Locations__Store__Address" href="https://www.google.com/maps/search/?api=1&query=11556%20University%20Blvd,+Orlando+FL" target="_blank" rel="noopener noreferrer">11556 University Blvd</a>
      <p id="loc-ucf" class="Lineage__Locations__Store__Open" data-open>Open</p>
      <dl class="Lineage__Locations__Store__Times" itemprop="openingHours">
        <dt class="Lineage__Locations__Store__Days" data-current-day>Every Day</dt>
        <dd class="Lineage__Locations__Store__Hours" data-current-day>8a – 7p</dd>
      </dl>
    </div>
  </div>
</section>

<script type="module">
// [open, close] (in military time)
const hours = {
  eastend: [8, 19],
  mills50: [7, 19],
  ucf: [8, 19],
}

const IS_OPEN = 'data-open';
const IS_CLOSED = 'data-closed';
const IS_CLOSING_SOON = 'data-closing-soon';
const ONE_MINUTE = 1000 * 60;

// Universal “is it DST?" function
// https://stackoverflow.com/questions/11887934/how-to-check-if-dst-daylight-saving-time-is-in-effect-and-if-so-the-offset
function stdTimezoneOffset() {
  const currentYear = new Date().getFullYear();
  const jan = new Date(currentYear, 0, 1);
  const jul = new Date(currentYear, 6, 1);
  return Math.max(jan.getTimezoneOffset(), jul.getTimezoneOffset());
}

function updateTime() {
  const isDST = new Date().getTimezoneOffset() < stdTimezoneOffset();
  const estOffset = isDST ? -4 : -5;
  const now = new Date().getUTCHours() + estOffset;

  // update each location
  Object.entries(hours).forEach(([loc, hours]) => {
    const [open, close] = hours;
    const $el = document.querySelector(`#loc-${loc}`);

    // 1. reset element
    [IS_OPEN, IS_CLOSED, IS_CLOSING_SOON].forEach(status => $el.removeAttribute(status));

    // 2. update status
    if (now === close - 1) {
      $el.innerHTML = 'Closing Soon';
      $el.setAttribute(IS_CLOSING_SOON, true);
    } else if (now >= open && now < close) {
      $el.innerHTML = 'Open';
      $el.setAttribute(IS_OPEN, true);
    } else {
      $el.innerHTML = 'Closed';
      $el.setAttribute(IS_CLOSED, true);
    }
  })
}

// update on load
updateTime();

// update every minute, in case this page is open for a while
setInterval(() => {
  updateTime();
}, ONE_MINUTE);
</script>
