/**
 * Page
 * Styles for longform text layout
 */

$breakpoint-m: 800px;

.Lineage__Page {
  // Modifiers
  &--Catering {
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      margin-bottom: 2rem;
    }
  }

  &--Wholesale {
    & h1 {
      font-weight: 700;
      font-size: var(--f-u2);
      font-family: var(--f-body);
      text-align: left;
      text-transform: uppercase;
    }

    &__Grid {
      display: grid;
      grid-gap: 1.5rem;

      @media (min-width: $breakpoint-m) {
        grid-template-columns: 1fr 1fr;
      }

      & > div {
        padding-right: 4rem;
        padding-left: 4rem;
      }
    }
  }
}
