@charset "UTF-8";
:root {
  /* (c)olor */
  --c-black: 345, 6%, 13%;
  --c-blue: 184, 49%, 69%;
  --c-blue-light: 185, 56%, 88%;
  --c-cadet: 204, 38%, 85%;
  --c-gray: 27, 5%, 66%;
  --c-gray-lighter: 30, 15%, 84%;
  --c-green: 173, 36%, 35%;
  --c-offwhite: 28, 100%, 97%;
  --c-pink: 20, 89%, 82%;
  --c-red: 8, 85%, 56%;
  --c-white: 0, 0%, 100%;
  --c-yellow: 51, 89%, 51%;
  /* (e)asing */
  --e-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
  --e-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
  --e-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);
  /* (f)ont */
  --f-body: "FF DIN", "DIN", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica",
    "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --f-stylistic: "Kaufmann", cursive;
  /* type scale (https://codepen.io/dangodev/pen/ZEzmJaB) */
  --f-u18: 11.390625em;
  --f-u17: 9.950627481136905em;
  --f-u16: 8.692673779389363em;
  --f-u15: 7.59375em;
  --f-u14: 6.63375165409127em;
  --f-u13: 5.795115852926242em;
  --f-u12: 5.0625em;
  --f-u11: 4.422501102727513em;
  --f-u10: 3.8634105686174953em;
  --f-u9: 3.375em;
  --f-u8: 2.9483340684850083em;
  --f-u7: 2.575607045744997em;
  --f-u6: 2.25em;
  --f-u5: 1.9655560456566725em;
  --f-u4: 1.7170713638299977em;
  --f-u3: 1.5em;
  --f-u2: 1.3103706971044482em;
  --f-u1: 1.1447142425533319em;
  --f-d1: 0.8735804647362989em;
  --f-d2: 0.7631428283688879em;
  --f-d3: 0.6666666666666666em;
  --f-d4: 0.5823869764908659em;
  --f-d5: 0.5087618855792586em;
  --f-d6: 0.4444444444444444em;
  --f-d7: 0.3882579843272439em;
  --f-d8: 0.3391745903861724em;
  --f-d9: 0.2962962962962963em;
  --f-d10: 0.2588386562181626em;
  --f-d11: 0.22611639359078162em;
  --f-d12: 0.19753086419753085em;
  --f-d13: 0.17255910414544176em;
  --f-d14: 0.15074426239385438em;
  --f-d15: 0.13168724279835392em;
  --f-d16: 0.11503940276362785em;
  --f-d17: 0.10049617492923625em;
  --f-d18: 0.0877914951989026em;
  /* (z)-index */
  --z-base: 10;
  --z-nav: 20;
  --z-modal: 30;
  --z-loading: 40;
  --z-cart: 50;
}

html,
body {
  margin: 0;
}

html {
  background-color: hsl(var(--c-pink));
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: var(--f-body);
  background-color: white;
}

a {
  color: hsl(var(--c-blue));
}

h1 {
  margin-top: 0;
  margin-bottom: 3em;
  font-size: var(--f-u6);
  font-family: var(--f-stylistic);
  text-align: center;
}
h1 small {
  display: block;
  font-weight: 500;
  font-size: var(--f-d5);
  letter-spacing: 0.05em;
}

h2 {
  margin-top: 0;
  margin-bottom: 3em;
  font-size: var(--f-u4);
  font-family: var(--f-stylistic);
  text-align: center;
}

h4 {
  margin-bottom: 1em;
  font-weight: 700;
  font-size: var(--f-d2);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

label {
  display: block;
  font-weight: 500;
  font-size: var(--f-d1);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

p {
  max-width: 60em;
  margin: 2em 0;
  line-height: 1.5;
}

@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: "FF DIN";
  font-style: normal;
  src: url("font-ffdin-400.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: "FF DIN";
  font-style: italic;
  src: url("font-ffdin-400-italic.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-weight: 500;
  font-family: "FF DIN";
  font-style: normal;
  src: url("font-ffdin-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-weight: 700;
  font-family: "FF DIN";
  font-style: normal;
  src: url("font-ffdin-700.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-weight: 700;
  font-family: "FF DIN";
  font-style: italic;
  src: url("font-ffdin-700-italic.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: "Kaufmann";
  font-style: normal;
  src: url("font-kaufmann-700.woff2") format("woff2"), url("font-kaufmann-700.woff") format("woff");
}
.mc-embed {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 40em;
  margin-right: auto;
  margin-left: auto;
}

#mce-EMAIL {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  margin-top: 0.375rem;
  padding: 0 0.5em;
  font-size: var(--f-u1);
  font-family: inherit;
  line-height: 1;
  border: 1px solid hsl(var(--c-black));
}

#mc-embedded-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 2.5rem;
  padding: 0;
  color: hsl(var(--c-white));
  font-weight: 500;
  font-size: var(--f-d1);
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  background-color: hsl(var(--c-black));
  border: none;
}

/**
 * Block
 * Large color blocks
 */
.Lineage__Block__Body {
  max-width: 28rem;
  font-size: var(--f-u1);
  line-height: 1.75;
}
.Lineage__Block__Heading {
  font-size: var(--f-u4);
  font-family: var(--f-body);
  text-align: left;
  text-transform: uppercase;
}

/**
 * Brew guide
 * Cards that link to full brew guides
 */
.Lineage__BrewGuide {
  display: grid;
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (min-width: 600px) {
  .Lineage__BrewGuide {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
.Lineage__BrewGuide__Card {
  position: relative;
  flex-grow: 1;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  color: hsl(var(--c-black));
  background-color: hsl(var(--c-white));
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.Lineage__BrewGuide__Desc {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 4rem;
  font-size: var(--f-d1);
}
.Lineage__BrewGuide__Guide {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.75rem hsla(var(--c-black), 0.1);
  transition: box-shadow 300ms linear, transform 300ms var(--e-fast-out-linear-in);
}
.Lineage__BrewGuide__Guide:hover {
  box-shadow: 0.75rem 0.75rem 2rem hsla(var(--c-black), 0.05);
  transform: translate(-0.5rem, -1rem);
}
.Lineage__BrewGuide__Guide:hover .Lineage__BrewGuide__Link {
  color: hsl(var(--c-blue));
}
.Lineage__BrewGuide__Link {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: block;
  font-weight: 700;
  font-size: 1em;
  text-align: right;
  text-transform: uppercase;
  transition: color 200ms;
}
.Lineage__BrewGuide__Thumb {
  height: 12rem;
  overflow: hidden;
  background-color: #cbdde9;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
@media (min-width: 800px) {
  .Lineage__BrewGuide__Thumb {
    height: 16rem;
  }
}
.Lineage__BrewGuide__Time {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: flex;
  align-items: center;
  height: 0.875rem;
  font-weight: 500;
  font-size: var(--f-d2);
  text-transform: uppercase;
}
.Lineage__BrewGuide__Title {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 4rem;
  font-size: var(--f-u4);
  font-family: var(--f-stylistic);
}

/**
 * Button
 * It’s a button.
 */
.Lineage__Button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 9em;
  padding: 1em 2.5em;
  color: hsl(var(--c-black));
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--f-body);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: hsla(var(--c-blue), 0.25);
  border: none;
  cursor: pointer;
  transition: background-color 150ms linear;
  appearance: none;
}
.Lineage__Button:focus, .Lineage__Button:hover {
  background: hsla(var(--c-blue), 0.5);
}
.Lineage__Button--Small {
  padding: 0.75em 2em;
  font-size: 14px;
}
.Lineage__Button--White {
  background: white;
}
.Lineage__Button--White:focus, .Lineage__Button--White:hover {
  background: rgba(255, 255, 255, 0.8);
}

/**
 * Cart
 * I’m Joe Biden and this is the page with the thing
 */
.Lineage__Cart__Heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: var(--f-d1);
  font-family: var(--f-body);
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.Lineage__Cart__Heading::after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5em;
  color: white;
  font-weight: 400;
  font-size: var(--f-d1);
  background: hsl(var(--c-red));
  border-radius: 50%;
  content: attr(data-count);
}
.Lineage__Cart__Heading[data-count="0"]::after {
  color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.1);
}
.Lineage__Cart__Colophon {
  font-size: var(--f-d2);
}
.Lineage__Cart__Columns {
  display: none;
  padding-bottom: 1rem;
}
@media (min-width: 600px) {
  .Lineage__Cart__Columns {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 8rem 10rem;
  }
}
.Lineage__Cart__Columns h3 {
  margin: 0;
  padding-bottom: 0.5rem;
  font-weight: 500;
  font-size: var(--f-d2);
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
}
.Lineage__Cart__Notes__Field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 8rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  background: white;
  border: 1px solid transparent;
  transition: border-color 150ms linear;
}
.Lineage__Cart__Notes__Field:focus {
  border-color: hsl(var(--c-blue));
  outline: none;
}
.Lineage__Cart__Price {
  font-size: var(--f-u2);
}
.Lineage__Cart__Item {
  display: grid;
  grid-template-areas: "name name" "price quantity";
  grid-template-columns: auto min-content;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid hsla(var(--c-black), 0.2);
}
@media (min-width: 600px) {
  .Lineage__Cart__Item {
    grid-gap: 1.5rem;
    grid-template-areas: "name price quantity";
    grid-template-columns: auto 8rem 10rem;
    margin-bottom: 0;
    border-bottom: none;
  }
}
.Lineage__Cart__Item__Name {
  grid-area: name;
  padding-bottom: 1rem;
  color: inherit;
  text-decoration: none;
}
@media (min-width: 600px) {
  .Lineage__Cart__Item__Name {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 3rem auto;
    grid-template-columns: 7rem auto;
    padding: 0;
  }
}
.Lineage__Cart__Item__Name img {
  display: none;
  width: 100%;
  height: auto;
  margin-right: 1rem;
  border-radius: 0.5rem;
}
@media (min-width: 600px) {
  .Lineage__Cart__Item__Name img {
    display: block;
  }
}
.Lineage__Cart__Item__Name h3 {
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--f-body);
  text-transform: uppercase;
}
@media (min-width: 600px) {
  .Lineage__Cart__Item__Name h3 {
    font-size: var(--f-u1);
  }
}
.Lineage__Cart__Item__Name small {
  display: block;
  margin-top: 0.5rem;
  font-weight: 400;
  text-transform: none;
}
.Lineage__Cart__Item__Price {
  grid-area: price;
}
.Lineage__Cart__Item__Quantity {
  display: flex;
  grid-area: quantity;
  align-items: center;
  align-self: start;
}
.Lineage__Cart__Item__Quantity a {
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 1.75em;
  height: 1.75em;
  margin-left: 1rem;
  color: hsl(var(--c-red));
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid currentColor;
  border-radius: 50%;
}
.Lineage__Cart__Subtotal {
  font-weight: 700;
  font-size: var(--f-u2);
  text-transform: uppercase;
}

/**
 * Grid view for products
 */
.Lineage__Collection {
  display: grid;
  grid-gap: 2rem;
}
.Lineage__Collection__Subheading {
  font-size: var(--f-u4);
  font-family: var(--f-stylistic);
  text-align: center;
}
@media (min-width: 600px) {
  .Lineage__Collection--Compact {
    grid-template-columns: 1fr 1fr;
  }
}

/**
 * FAQ
 * Section for question—answer blocks
 */
.Lineage__FAQ {
  max-width: 48rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}
.Lineage__FAQ__Body {
  max-width: 40em;
  margin-top: 0;
}
.Lineage__FAQ__Heading {
  padding-bottom: 0.5em;
  font-weight: 500;
  letter-spacing: 0.03125em;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid hsl(var(--c-gray));
}

/**
 * Footer
 * Global footer
 */
.Lineage__Footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: hsl(var(--c-white));
}
.Lineage__Footer__Colophon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Lineage__Footer__Contact {
  display: block;
  margin-top: 1rem;
  color: hsl(var(--c-blue));
  font-size: var(--f-d2);
}
.Lineage__Footer__Copyright {
  display: block;
  margin-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: var(--f-d3);
}
.Lineage__Footer__Copyright a {
  color: hsl(var(--c-blue));
}
.Lineage__Footer__Logo {
  display: block;
  width: auto;
  height: 4rem;
  margin-top: 2rem;
}
.Lineage__Footer__Link {
  display: block;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: hsl(var(--c-black));
  font-weight: 500;
  font-size: var(--f-d1);
  text-transform: uppercase;
  text-decoration: none;
  transition: color 200ms;
}
.Lineage__Footer__Link:focus, .Lineage__Footer__Link:hover {
  color: hsl(var(--c-blue));
}
.Lineage__Footer__List {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  padding: 0;
  line-height: 2;
}
@media (min-width: 780px) {
  .Lineage__Footer__List {
    margin-left: auto;
    padding-left: 8rem;
    line-height: 1;
  }
}
.Lineage__Footer__Nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 780px) {
  .Lineage__Footer__Nav {
    flex-direction: row;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.Lineage__Footer__Social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 0;
}
@media (min-width: 780px) {
  .Lineage__Footer__Social {
    justify-content: flex-end;
    width: 8rem;
    margin-top: 0;
    margin-left: auto;
  }
}
.Lineage__Footer__Social a {
  display: block;
  color: hsl(var(--c-black));
  transition: color 200ms;
}
.Lineage__Footer__Social a:focus, .Lineage__Footer__Social a:hover {
  color: hsl(var(--c-blue));
}
.Lineage__Footer__Social a + a {
  margin-left: 0.5rem;
}
.Lineage__Footer__Social svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
}

/**
 * Hero
 * Large image that introduces each page
 */
.Lineage__Hero {
  position: relative;
  height: 37.5vh;
  max-height: 50vw;
  overflow: hidden;
  font-size: 1rem;
  background: hsl(var(--c-pink));
}
.Lineage__Hero h1 {
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 2;
  width: 100%;
  font-size: var(--f-u8);
  font-family: var(--f-stylistic);
  text-align: center;
  transform: translateY(-50%);
}
@media (min-width: 600px) {
  .Lineage__Hero {
    height: 62.5vh;
  }
}
.Lineage__Hero--Short {
  max-height: 37.5vh;
}

/**
 * Locations
 * Store Hours
 */
.Lineage__Locations {
  font-size: var(--f-d1);
}
@media (min-width: 600px) {
  .Lineage__Locations {
    font-size: 1em;
  }
}
.Lineage__Locations__Heading {
  margin-bottom: 1em;
  font-size: var(--f-u5);
  font-family: var(--f-stylistic);
  text-align: center;
}
.Lineage__Locations__List {
  display: grid;
  grid-gap: 2rem;
  box-sizing: border-box;
  padding-top: 1rem;
}
@media (min-width: 600px) {
  .Lineage__Locations__List {
    grid-gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.Lineage__Locations__Store__Address {
  display: block;
  margin-top: 0.25rem;
  color: hsl(var(--c-blue));
  font-size: var(--f-d1);
  text-decoration: none;
}
.Lineage__Locations__Store__Days, .Lineage__Locations__Store__Hours {
  display: block;
  width: 50%;
  margin: 0.5em 0;
  color: hsl(var(--c-gray));
}
.Lineage__Locations__Store__Days[data-current-day], .Lineage__Locations__Store__Hours[data-current-day] {
  color: hsl(var(--c-black));
}
.Lineage__Locations__Store__Hours {
  text-align: right;
}
.Lineage__Locations__Store__Name {
  margin: 0;
  font-weight: 700;
  font-size: var(--f-u1);
  font-family: inherit;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
}
.Lineage__Locations__Store__Open {
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: hsl(var(--c-blue));
  font-size: var(--f-u3);
  font-family: var(--f-stylistic);
  line-height: 1;
}
.Lineage__Locations__Store__Open[data-closed] {
  color: hsl(var(--c-gray));
}
.Lineage__Locations__Store__Open[data-closing-soon] {
  color: hsl(var(--c-red));
}
.Lineage__Locations__Store__Open[data-open] {
  color: hsl(var(--c-blue));
}
.Lineage__Locations__Store__Times {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  font-weight: 500;
  line-height: 1;
}

/**
 * Movie
 * Home page video
 */
.Lineage__Movie {
  position: relative;
  height: 56vw;
  overflow: hidden;
  background-color: hsl(var(--c-pink));
}
.Lineage__Movie__Logo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: calc(var(--z-base) + 1);
  width: 10rem;
  height: 8rem;
  transform: translate(-50%, -25%);
  opacity: 0;
  animation-name: logoFadeIn;
  animation-duration: 2s;
  animation-timing-function: var(--e-linear-out-slow-in);
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@media (min-width: 600px) {
  .Lineage__Movie__Logo {
    width: 16rem;
  }
}
.Lineage__Movie__Pink {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-base);
  width: 100%;
  height: 100%;
  background-color: hsl(var(--c-pink));
  mix-blend-mode: multiply;
}
.Lineage__Movie__Pink2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-base);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(hsla(var(--c-pink), 0), hsla(var(--c-pink), 1));
  background-size: 100% 100%;
}
.Lineage__Movie__Stretch {
  position: absolute;
  width: 100%;
  padding-top: 56.25%;
}
.Lineage__Movie__Stretch video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

@keyframes logoFadeIn {
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
/**
 * Nav
 * Global navigation
 */
.Lineage__Nav {
  position: sticky;
  top: 0;
  z-index: var(--z-nav);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  padding-right: 5rem;
  padding-left: 0;
  line-height: 1;
  background-color: hsl(var(--c-white));
  background-image: url("./img-speckle.png");
  background-repeat: repeat;
  background-size: 400px auto;
}
@media (min-width: 580px) {
  .Lineage__Nav {
    position: static;
    justify-content: flex-start;
    padding-left: 1rem;
  }
}
.Lineage__Nav__Cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--z-cart);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  color: hsl(var(--c-white));
  font-weight: 700;
  font-size: var(--f-u1);
  text-decoration: none;
  background-color: hsl(var(--c-black));
  transition: background-color 200ms linear, color 200ms linear;
}
.Lineage__Nav__Cart span {
  position: absolute;
  top: 0.25rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1.5rem;
  font-weight: 500;
  font-size: var(--f-d4);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.Lineage__Nav__Cart:hover {
  color: hsl(var(--c-black));
  background-color: hsl(var(--c-blue-light));
}
.Lineage__Nav__Cart[data-empty] {
  color: hsl(var(--c-gray));
  background-color: hsla(var(--c-offwhite), 0.9);
}
.Lineage__Nav__Link {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  color: hsl(var(--c-black));
  font-weight: 500;
  font-size: var(--f-u4);
  text-transform: uppercase;
  text-decoration: none;
  transform: translateY(2rem);
  opacity: 0;
  transition: opacity 300ms, transform 250ms cubic-bezier(0, 0.5, 0.5, 1);
}
@media (min-width: 580px) {
  .Lineage__Nav__Link {
    font-size: var(--f-d1);
    transform: none;
    opacity: 1;
    transition: none;
  }
  .Lineage__Nav__Link + * {
    margin-left: 1.5rem;
  }
  .Lineage__Nav__Link::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0.375rem;
    height: 0.375rem;
    background-color: hsl(var(--c-blue));
    border-radius: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: opacity 200ms;
    content: "";
    pointer-events: none;
  }
}
.Lineage__Nav__Link[aria-current]::after {
  transform: translate(-50%, 0);
  opacity: 1;
}
.Lineage__Nav__List {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: calc(1 + var(--z-nav));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms linear, visibility 0ms 150ms;
}
@media (min-width: 580px) {
  .Lineage__Nav__List {
    position: static;
    z-index: 1;
    flex-direction: row;
    background: none;
    visibility: visible;
    opacity: 1;
  }
}
.Lineage__Nav__Logo {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 580px) {
  .Lineage__Nav__Logo {
    margin-left: 0;
    padding-right: 0;
  }
}
.Lineage__Nav__Logo img {
  width: auto;
  height: 1.5rem;
}
@media (min-width: 580px) {
  .Lineage__Nav__Logo img {
    height: 1.75rem;
  }
}
.Lineage__Nav__MobileClose {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 0;
  background: none;
  border: 0;
  outline: none;
  appearance: button;
}
@media (min-width: 580px) {
  .Lineage__Nav__MobileClose {
    display: none;
  }
}
.Lineage__Nav__MobileClose::before, .Lineage__Nav__MobileClose::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.875rem;
  height: 2px;
  background-color: hsl(var(--c-black));
  content: "";
}
.Lineage__Nav__MobileClose::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.Lineage__Nav__MobileClose::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.Lineage__Nav__MobileOpen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 0;
  background: none;
  border: 0;
  outline: none;
  opacity: 1;
  transition: opacity 200ms linear;
  appearance: button;
}
@media (min-width: 580px) {
  .Lineage__Nav__MobileOpen {
    display: none;
  }
}
.Lineage__Nav__MobileOpen img {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
}
.Lineage__Nav[data-open=true] .Lineage__Nav__Link {
  transform: translateY(0);
  opacity: 1;
}
.Lineage__Nav[data-open=true] .Lineage__Nav__List {
  visibility: visible;
  opacity: 1;
}
.Lineage__Nav[data-open=true] .Lineage__Nav__MobileOpen {
  visibility: hidden;
  opacity: 0;
}

/**
 * Display for coffee notes
 */
.Lineage__Note {
  font-size: 1rem;
}
.Lineage__Note__List {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: var(--f-d1);
}
.Lineage__Note__Note {
  display: flex;
  align-items: center;
  margin: 0;
  line-height: 1.75;
  text-transform: capitalize;
}
.Lineage__Note__Note::before {
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.5em;
  background: hsl(var(--c-pink));
  border-radius: 50%;
  content: "";
}
.Lineage__Note__Note[data-note*=almond i]::before, .Lineage__Note__Note[data-note*=caramel i]::before, .Lineage__Note__Note[data-note*=chocolate i]::before, .Lineage__Note__Note[data-note*=cinnamon i]::before, .Lineage__Note__Note[data-note*=dark i]::before, .Lineage__Note__Note[data-note*=earth i]::before, .Lineage__Note__Note[data-note*=honey i]::before, .Lineage__Note__Note[data-note*=molasses i]::before, .Lineage__Note__Note[data-note*=nut i]::before, .Lineage__Note__Note[data-note*=syrup i]::before, .Lineage__Note__Note[data-note*=toffee i]::before, .Lineage__Note__Note[data-note*=vanilla i]::before {
  background: hsl(var(--c-green));
}
.Lineage__Note__Note[data-note*=apple i]::before, .Lineage__Note__Note[data-note*=berry i]::before, .Lineage__Note__Note[data-note*=berries i]::before, .Lineage__Note__Note[data-note*=coconut i]::before, .Lineage__Note__Note[data-note*=cherry i]::before, .Lineage__Note__Note[data-note*=citrus i]::before, .Lineage__Note__Note[data-note*=fruit i]::before, .Lineage__Note__Note[data-note*=lemon i]::before, .Lineage__Note__Note[data-note*=lime i]::before, .Lineage__Note__Note[data-note*=mango i]::before, .Lineage__Note__Note[data-note*=orange i]::before, .Lineage__Note__Note[data-note*=peach i]::before, .Lineage__Note__Note[data-note*=pear i]::before, .Lineage__Note__Note[data-note*=plum i]::before, .Lineage__Note__Note[data-note*=raisin i]::before {
  background: hsl(var(--c-yellow));
}

/**
 * Page
 * Styles for longform text layout
 */
.Lineage__Page--Wholesale h1 {
  font-weight: 700;
  font-size: var(--f-u2);
  font-family: var(--f-body);
  text-align: left;
  text-transform: uppercase;
}
.Lineage__Page--Wholesale__Grid {
  display: grid;
  grid-gap: 1.5rem;
}
@media (min-width: 800px) {
  .Lineage__Page--Wholesale__Grid {
    grid-template-columns: 1fr 1fr;
  }
}
.Lineage__Page--Wholesale__Grid > div {
  padding-right: 4rem;
  padding-left: 4rem;
}

/**
 * Price
 * What stuff costs humans
 */
.Lineage__Price {
  font-size: var(--f-u3);
  font-family: var(--f-stylistic);
  letter-spacing: -0.05em;
  white-space: nowrap;
}

/**
 * Product Card
 * tiny view of product in collections
 */
.Lineage__ProductCard {
  position: relative;
  display: flex;
  min-height: 12rem;
  padding-left: 6rem;
  color: hsl(var(--c-black));
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  background-color: white;
  background-image: url("./img-speckle.png");
  background-repeat: repeat;
  background-size: 400px auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.013), 0 6.7px 5.3px rgba(0, 0, 0, 0.014), 0 12.5px 10px rgba(0, 0, 0, 0.015), 0 22.3px 17.9px rgba(0, 0, 0, 0.02), 0 41.8px 33.4px rgba(0, 0, 0, 0.034), 0 100px 80px rgba(0, 0, 0, 0.07);
}
@media (min-width: 600px) {
  .Lineage__ProductCard {
    padding-left: 10rem;
    font-size: 16px;
  }
}
.Lineage__ProductCard:hover .Lineage__ProductCard__Img {
  transform: translate(-1.5rem, -1.5rem) rotate(4deg);
}
.Lineage__ProductCard:hover .Lineage__ProductCard__Link {
  color: hsl(var(--c-blue));
}
.Lineage__ProductCard__Action {
  display: grid;
  flex-grow: 0;
  flex-shrink: 0;
  grid-gap: 1rem;
  padding: 1.5rem;
  text-align: right;
  background-color: white;
}
.Lineage__ProductCard__Description {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: var(--f-d1);
  line-height: 1.5;
}
.Lineage__ProductCard__Description p {
  margin: 0;
}
.Lineage__ProductCard__Description p + p {
  margin-top: 0.5rem;
}
.Lineage__ProductCard__Footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}
.Lineage__ProductCard__Img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-base);
  flex-grow: 0;
  width: 6rem;
  margin: 0;
  overflow: hidden;
  background: hsl(var(--c-pink));
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0.5rem 2rem hsla(var(--c-black), 0.1);
  transform: translate(-1rem, -1rem);
  transition: transform 200ms var(--e-fast-out-linear-in);
}
@media (min-width: 600px) {
  .Lineage__ProductCard__Img {
    width: 10rem;
  }
}
.Lineage__ProductCard__Img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.Lineage__ProductCard__Inner {
  flex-grow: 1;
  padding: 1rem;
  background-color: hsl(var(--c-white));
}
@media (min-width: 600px) {
  .Lineage__ProductCard__Inner {
    padding: 2rem;
  }
}
.Lineage__ProductCard__Link {
  display: block;
  align-self: end;
  color: hsl(var(--c-black));
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 200ms;
}
.Lineage__ProductCard__Meta {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: 400;
  font-size: var(--f-d2);
}
.Lineage__ProductCard__Name {
  margin: 0;
  font-weight: 700;
  font-size: var(--f-u1);
  line-height: 1.25;
  text-transform: uppercase;
}
.Lineage__ProductCard--green, .Lineage__ProductCard--Green {
  background-color: hsl(var(--c-green));
}
.Lineage__ProductCard--pink, .Lineage__ProductCard--Pink {
  background-color: hsl(var(--c-pink));
}
.Lineage__ProductCard--white, .Lineage__ProductCard--White {
  background-color: hsl(var(--c-white));
}
.Lineage__ProductCard--yellow, .Lineage__ProductCard--Yellow {
  background-color: hsl(var(--c-yellow));
}

/**
 * ProductView
 * Detailed view of a product
 */
.Lineage__ProductView__Aside .rc_label__deliver_every {
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;
}
.Lineage__ProductView__Aside .rc_label__deliver_every::after {
  position: absolute;
  right: 0.75rem;
  bottom: 0.875rem;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  transform: rotate(45deg);
  content: "";
  pointer-events: none;
}
.Lineage__ProductView__Aside .rc_select {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem 0.75rem;
  background-color: white;
  border-radius: 0;
  appearance: none;
}
.Lineage__ProductView__Body p {
  font-size: var(--f-d1);
  line-height: 1.75;
}
.Lineage__ProductView__Body p:first-of-type {
  margin-top: 0;
}
.Lineage__ProductView__Deets dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  font-size: var(--f-d1);
}
.Lineage__ProductView__Deets dt {
  padding: 0.5em 0.5em 0.5em 0;
  font-weight: 500;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.Lineage__ProductView__Deets dd {
  margin: 0;
  padding: 0.5em 0;
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.Lineage__ProductView__Grid {
  display: grid;
  grid-gap: 2rem;
}
@media (min-width: 600px) {
  .Lineage__ProductView__Grid {
    grid-gap: 4rem;
    grid-template-columns: auto 15rem;
  }
}
.Lineage__ProductView__Heading {
  font-weight: 700;
  font-size: var(--f-u6);
  font-family: var(--f-body);
  text-align: left;
  text-transform: uppercase;
}
.Lineage__ProductView__Hidden {
  position: absolute;
  right: 100vw;
  visibility: hidden;
}
.Lineage__ProductView__Label {
  font-weight: 500;
  font-size: var(--f-d1);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.Lineage__ProductView__Meta {
  display: grid;
  grid-gap: 2rem;
}
@media (min-width: 600px) {
  .Lineage__ProductView__Meta {
    grid-template-columns: 1fr 1fr;
  }
}
.Lineage__ProductView__Wholesale {
  font-size: var(--f-d2);
}

/**
 * Select
 * If browsers actually let you style these
 */
.Lineage__Select {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: border-color 150ms linear;
}
.Lineage__Select:hover {
  border-color: hsl(var(--c-blue));
}
.Lineage__Select__Icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  justify-content: center;
  width: 0.5rem;
  height: 100%;
  height: 0.5rem;
  font-size: var(--f-d2);
  border-color: currentColor;
  border-style: solid;
  border-width: 0 1px 1px 0;
  transform: translateY(-62.5%) rotate(45deg);
  pointer-events: none;
}
.Lineage__Select__Input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0.5rem;
  color: #444;
  font-weight: 400;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.3;
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
}
.Lineage__Select__Input::-ms-expand {
  display: none;
}
.Lineage__Select__Input:hover {
  border-color: #888;
}
.Lineage__Select__Input:focus {
  color: #222;
  border-color: #aaa;
  outline: none;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
}
.Lineage__Select__Input option {
  font-weight: normal;
}

/**
 * Quantity
 * Stepper component
 */
.Lineage__Stepper {
  display: flex;
  background: hsl(var(--c-white));
}
.Lineage__Stepper__Input {
  flex-grow: 1;
  box-sizing: border-box;
  width: 2rem;
  padding: 0;
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  background: none;
  border: none;
  transition: color 150ms linear;
  appearance: none;
}
@media (min-width: 600px) {
  .Lineage__Stepper__Input {
    width: 4rem;
  }
}
.Lineage__Stepper__Input:focus {
  outline: none;
}
.Lineage__Stepper__Dec, .Lineage__Stepper__Inc {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-weight: 400;
  font-size: var(--f-u2);
  background: none;
  border: none;
  cursor: pointer;
  transition: border-color 150ms linear, background 150ms linear;
  appearance: none;
}
.Lineage__Stepper__Dec:focus, .Lineage__Stepper__Dec:hover, .Lineage__Stepper__Inc:focus, .Lineage__Stepper__Inc:hover {
  background: rgba(0, 0, 0, 0.05);
}
.Lineage__Stepper__Dec:focus, .Lineage__Stepper__Inc:focus {
  outline: none;
}

/**
 * Timeline
 * The History of the World, I Guess
 */
.Lineage__Timeline {
  list-style: none;
}
.Lineage__Timeline time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  font-weight: 700;
  border: 2px solid currentColor;
  border-radius: 50%;
}
.Lineage__Timeline time small {
  display: block;
  font-size: var(--f-d2);
  letter-spacing: 0.125em;
  text-transform: uppercase;
}
.Lineage__Timeline__Event {
  position: relative;
  display: flex;
  align-items: center;
}
.Lineage__Timeline__Event--Range {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  color: hsl(var(--c-offwhite));
  letter-spacing: 0.03125em;
  text-transform: uppercase;
  background: hsl(var(--c-black));
}
.Lineage__Timeline__Event + .Lineage__Timeline__Event {
  margin-top: 3rem;
}
.Lineage__Timeline__Event + .Lineage__Timeline__Event::before {
  position: absolute;
  bottom: 100%;
  left: 2rem;
  display: block;
  height: 3rem;
  border-left: 1px solid hsl(var(--c-black));
  content: "";
}
.Lineage__Timeline__Event + .Lineage__Timeline__Event--Range::before {
  left: 1rem;
}

/**
 * Wave animation
 */
.Lineage__Waves {
  position: relative;
  left: 0;
  z-index: 5;
}
.Lineage__Waves__Wave {
  position: absolute;
  top: 50%;
  left: -12rem;
  z-index: 10;
  height: 33px;
  margin-top: -16.5px;
  background-image: url("./img-wave.svg");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 34px auto;
  animation-name: ebb;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-iteration-count: 200;
  pointer-events: none;
}

@keyframes ebb {
  50% {
    transform: translateX(2rem);
  }
}
/**
 * Wrapper
 * Horizontal spacing component
 */
.Lineage__Wrapper {
  box-sizing: border-box;
  max-width: 62.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.Lineage__Wrapper--Large {
  max-width: 80rem;
}

.mb0 {
  margin-bottom: 0rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.mb6 {
  margin-bottom: 6rem;
}

.mb7 {
  margin-bottom: 7rem;
}

.mb8 {
  margin-bottom: 8rem;
}

.ml0 {
  margin-left: 0rem;
}

.ml1 {
  margin-left: 1rem;
}

.ml2 {
  margin-left: 2rem;
}

.ml3 {
  margin-left: 3rem;
}

.ml4 {
  margin-left: 4rem;
}

.ml5 {
  margin-left: 5rem;
}

.ml6 {
  margin-left: 6rem;
}

.ml7 {
  margin-left: 7rem;
}

.ml8 {
  margin-left: 8rem;
}

.mt0 {
  margin-top: 0rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mt6 {
  margin-top: 6rem;
}

.mt7 {
  margin-top: 7rem;
}

.mt8 {
  margin-top: 8rem;
}

.mr0 {
  margin-right: 0rem;
}

.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.mr3 {
  margin-right: 3rem;
}

.mr4 {
  margin-right: 4rem;
}

.mr5 {
  margin-right: 5rem;
}

.mr6 {
  margin-right: 6rem;
}

.mr7 {
  margin-right: 7rem;
}

.mr8 {
  margin-right: 8rem;
}

.pb0 {
  padding-bottom: 0rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pb5 {
  padding-bottom: 5rem;
}

.pb6 {
  padding-bottom: 6rem;
}

.pb7 {
  padding-bottom: 7rem;
}

.pb8 {
  padding-bottom: 8rem;
}

.pl0 {
  padding-left: 0rem;
}

.pl1 {
  padding-left: 1rem;
}

.pl2 {
  padding-left: 2rem;
}

.pl3 {
  padding-left: 3rem;
}

.pl4 {
  padding-left: 4rem;
}

.pl5 {
  padding-left: 5rem;
}

.pl6 {
  padding-left: 6rem;
}

.pl7 {
  padding-left: 7rem;
}

.pl8 {
  padding-left: 8rem;
}

.pt0 {
  padding-top: 0rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pt4 {
  padding-top: 4rem;
}

.pt5 {
  padding-top: 5rem;
}

.pt6 {
  padding-top: 6rem;
}

.pt7 {
  padding-top: 7rem;
}

.pt8 {
  padding-top: 8rem;
}

.pr0 {
  padding-right: 0rem;
}

.pr1 {
  padding-right: 1rem;
}

.pr2 {
  padding-right: 2rem;
}

.pr3 {
  padding-right: 3rem;
}

.pr4 {
  padding-right: 4rem;
}

.pr5 {
  padding-right: 5rem;
}

.pr6 {
  padding-right: 6rem;
}

.pr7 {
  padding-right: 7rem;
}

.pr8 {
  padding-right: 8rem;
}

.bcow {
  background-color: hsl(var(--c-offwhite));
}

.bcb {
  background-color: hsl(var(--c-blue));
}

.bcw {
  background-color: white;
}

.ofcover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.opcenter {
  object-position: center center;
}

.op33 {
  object-position: center 33.3333%;
}

.op66 {
  object-position: center 66.6666%;
}

.op100 {
  object-position: center 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}
