<div class="Lineage__Movie">
  <div class="Lineage__Movie__Stretch">
    <video loop autoplay playsinline muted poster="{{ 'home-reel-poster.jpg' | asset_url }}"><source src="{{ 'homepage-720.mp4' | asset_url }}" type="video/mp4" /></video>
  </div>
  <div class="Lineage__Movie__Pink"></div>
  <div class="Lineage__Movie__Pink2"></div>
  <img class="Lineage__Movie__Logo" src="{{ 'lineage-full.svg' | asset_url }}" alt="Lineage Coffee Roasting, Orlando" />
</div>

<div class="bcow">
  <section class="Lineage__Wrapper pt4 pb4">
    {%- render 'locations' -%}
  </section>
</div>
